.green-button {
  background: black;
  font-size: 32px;
  font-weight: 600;
  color: greenyellow;
  border: 6px solid greenyellow;

  /* padding: 60px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;

  /* Paddin can also be set like this with the cordinates of
   [ Y - (top & bottom) X - (left & right) ] */
  /* padding: 60px 20px; */

  /* margin: 40px; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  /* Margin can also be set like this with the cordinates of
   [ Y - (top & bottom) X - (left & right) ] */
  /* margin: 60px 20px; */
}
