.green-button {
  background: black;
  font-size: 32px;
  font-weight: 600;
  color: greenyellow;

  /* padding: 60px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;

  /* This can also be written like this 
  with the pair of [ Y X ] */
  /* padding: 60px 20px; */

  border: 6px solid greenyellow;

  /* margin: 40px; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  /* This can also be written like this 
  with the pair of [ Y X ] */
  /* margin: 60px 20px; */
}
