.green-button {
  background: greenyellow;
  font-size: 32px;
  font-weight: 600;
  color: black;

  /* To smoothen the shape's corner edges from all sides */
  border-radius: 14px;
  /* Q1: Find out how we can smoothen on particular corner edge of the shape*/

  /* border: 6px solid greenyellow; */
  border-left: 8px solid black;
  border-bottom: 8px solid black;
  border-top: 4px solid black;
  border-right: 4px solid black;
  /* Q2: Find out how to remove the border for button from all sides */

  /* padding: 60px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;

  /* Paddin can also be set like this with the cordinates of
   [ Y - (top & bottom) X - (left & right) ] */
  /* padding: 60px 20px; */

  /* margin: 40px; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  /* Margin can also be set like this with the cordinates of
   [ Y - (top & bottom) X - (left & right) ] */
  /* margin: 60px 20px; */
}
